
.container{
    max-width: 800px;
    margin: 0 auto;
    height: 400px;

}

.title-cart{
    text-align: center;
    margin: 20px 0;
}

.badge-store-cart{
    background-color:#38c1ca;
    border-radius: 50px;
    color:white;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.store-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D0D0D0;
}

.quantity-container{
    display: flex;
    flex-direction: row; 
}

.plus{
    background-color: #38c1ca;
    border-radius: 100%;
    color:white;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
.plus:hover{
    background-color: #33a4ace8;

}
.less{
    background-color: #38c1ca;
    border-radius: 100%;
    color:white;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.less:hover{
    background-color: #33a4ace8;

}

.final-store{
    text-align: end;
    margin: 5px 20px;
}
.cart-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 80%;

}
.pay-button{
    background-color: #CB463A;
    border-radius: 40px;
    color:white;
    display: inline-block;
    padding: 10px 80px;
    cursor: pointer;
}

.pay-button:hover{
    background-color: #d14033d0;
}
.actions-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.name{
    width: 100%;
}

.delete-btn{
    cursor: pointer;
}
.delete-btn:hover{
    color:red;
}