.navbar {
    max-width:800px;
    margin :0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar-logo{
    width: 140px;
    height: 120px;
}